/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Monda&family=Sriracha&display=swap');

/* Reset default styles */
body {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif; /* Use Arial font */
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  position: relative;
}

.header .logo {
  font-size: 25px;
  font-family: 'Sriracha', cursive;
  color: #000;
  text-decoration: none;
  margin-left: 30px;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  margin-right: 20px;
}

.nav-items a {
  text-decoration: none;
  color: #000;
  padding: 35px 20px;
  cursor: pointer; /* Add cursor pointer */
}

/* Main element styles */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 540px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("../img/pexels-guduru-ajay-bhargav-863988.jpg");
  background-size: cover;
  background-position: 100% 50%; /* Adjusted background position */
  background-repeat: no-repeat;
}

.intro h1 {
  font-family: sans-serif;
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.intro p {
  font-size: 20px;
  color: #d1d1d1;
  text-transform: uppercase;
  margin: 20px 0;
}

.intro button {
  background-color: #5edaf0;
  color: #000;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4)
}

.achievements {
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap */
  justify-content: space-around;
  align-items: center;
  padding: 40px 20px; /* Adjust padding as needed */
}

.achievements .work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px; /* Adjust padding as needed */
  margin: 20px 0; /* Add margin between items */
  text-align: center; /* Center text */
}

.achievements .work i {
  width: fit-content;
  font-size: 50px;
  color: #333333;
  border-radius: 50%;
  border: 2px solid #333333;
  padding: 12px;
}

.achievements .work .work-heading {
  font-size: 20px;
  color: #333333;
  text-transform: uppercase;
  margin: 10px 0;
}

.achievements .work .work-text {
  font-size: 15px;
  color: #585858;
  margin: 10px 0;
}

.about-me {
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap */
  justify-content: center;
  align-items: center;
  padding: 40px 20px; /* Adjust padding as needed */
  border-top: 2px solid #302f49;
}

.about-me img {
  max-width: 50%; /* Set maximum width to 50% */
  height: auto; /* Set height to auto to maintain aspect ratio */
  border-radius: 30px; /* Optional: Add border-radius for rounded corners */
  margin: 20px 0; /* Add margin */
}

.about-me-text {
  flex: 1; /* Allow text to take remaining space */
  max-width: 50%; /* Limit text width */
}

.about-me-text h2 {
  font-size: 30px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
}

.about-me-text p {
  font-size: 15px;
  color: #585858;
  margin: 10px 0;
}

/* Footer styles */
.footer {
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap */
  justify-content: space-between;
  align-items: center;
  background-color: #302f49;
  padding: 40px 20px; /* Adjust padding as needed */
}

.footer .copy {
  color: #fff;
}

.bottom-links {
  display: flex;
  flex-direction: column; /* Align items in a column */
  justify-content: center;
  align-items: center;
  padding: 20px 0; /* Adjust padding */
  margin: 20px 0; /* Add margin */
}

.bottom-links .links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0; /* Add margin */
}

.bottom-links .links span {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0;
}

.bottom-links .links a {
  text-decoration: none;
  color: #a1a1a1;
  padding: 10px 20px;
}

/* Hamburger menu styles */
.nav-toggle {
  display: none; /* Hide the hamburger menu by default */
}

/* For smaller screens, hide nav items and show hamburger menu */
@media screen and (max-width: 768px) {
  .nav-items {
    display: none; /* Hide the nav items */
  }

  .header .logo {
    margin-left: 10px; /* Adjust logo margin */
  }

  .nav-toggle {
    display: flex; /* Show the hamburger menu */
    align-items: center;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 9999; /* Ensure it's above other content */
  }

  .nav-toggle .fas {
    font-size: 20px;
    color: #000;
  }

  .nav-items.active {
    display: flex; /* Show the nav items when the menu is toggled */
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 50%; /* Center the menu horizontally */ 
    transform: translateX(-50%); /* Adjust for centering */
    width: 350px; /* Adjust the width of the dropdown menu */
    height: 400px; /* Adjust the height of the dropdown menu */
    background-color: #333; /* Dark grey background color */
    border-radius: 0px; /* Add rounded corners */
    transition: opacity 0.5s ease; /* Adjust transition for smoother visibility */
    z-index: 9999; /* Ensure it's above other content */
    overflow-y: auto; /* Add scrollbar if content exceeds height */
  }

  .nav-items.active a {
    padding: 15px 20px; /* Adjust padding */
    text-align: center;
    border-bottom: 1px solid #555; /* Darker border color */
    color: #fff; /* White text color */
  }
}
